body {
	font-family: 'Open Sans', sans-serif;
}

.main-intro{
	padding-top : 10px;
	padding-bottom : 10px;
}

#intro-cover{
	margin-top : 200px
}

/* For smaller view-width devices */
@media (max-width : 990px){
	#intro-cover{
		padding : 40px;
		margin-top : 70px
	}
	.main-intro{
		font-size: 25px;
	}
}

/* For bigger view-width devices */
@media (min-width : 990px){
	#intro-cover{
		margin-top : 250px
	}
	.main-intro{
		font-size: 30px;
	}
}

.data-card-outer {
	min-height: 285px;
	height: auto;
	padding: 10px 40px;
}

.data-card-inner-top {
	border: 2px solid #ECECEC;
	border-bottom: none;
	min-height: 190px;
	height: auto;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.data-card-inner-bottom {
	border: 2px solid #ECECEC;
	min-height: 60px;
	height: auto;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 15px;
	font-size: 16px;
	color:hsl(217, 97%, 46%)
}

.data-card-inner-bottom:hover {
	background-color: #ECECEC;
	cursor: pointer;
}

.data-card-top-left {
	/* border : 2px solid green; */
	min-height: 190px;
	height: auto;
	border-top-left-radius: 20px;
}

.data-card-top-right {
	/* border : 2px solid orange; */
	min-height: 190px;
	height: auto;
	border-top-right-radius: 20px;
}

.data-card-image {
	text-align: center;
	padding: 10px;
}

div.data-card-text>p {
	/* border : 2px solid black; */
	font-size: 15px;
	font-weight: lighter;
}

div.data-card-text>h4 {
	/* border : 2px solid black; */
	font-weight: bolder;
}

.data-card-text {
	padding: 15px;
}

.section-heading-container {
	margin-top: 150px;
	margin-bottom: 50px;
	text-align: center;
}

.navbar {
	padding-top : 25px
}