@media (max-width : 900px){
	#navbar-btn {
		margin-top : 2vh
	}
	.nav-item {
		padding-left : 15px;
		padding-top : 10px;
	}
}

@media (min-width : 991px){
	#navbarSupportedContent{
		margin-top : 5vh;
		margin-right : 15vw
	}
	.nav-item {
		padding-left : 10px;
		padding-right : 10px
	}
}

.navbar-light .navbar-toggler{
	border : none
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(26,37,251,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
